@import "./vars.scss";

* {
  font-family: "Nunito", "Times New Roman", Times, serif;
}

body {
  background-color: #f1f1f1;
}

.outside-card {
  border-radius: 8px;
  padding: 25px;
  margin: 35px;
  background-color: white;
  box-shadow: 2px 2px 15px 2px #e1e1e1;
  margin: 0 25% 0 25%;
}

.card {
  border-radius: 8px;
  padding: 25px;
  margin: 35px;
  background-color: $main-color;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.card:hover {
  transition: 0.2s;
  box-shadow: 2px 2px 15px 2px #e1e1e1;
}

.display-1 {
  margin: 35px;
  text-align: center;
}

.subtitle {
  display: flex;
  justify-content: center;
}

#icone-certificado {
  margin-right: 30px;
}
